<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-right" {{action "showRandomLink" on="click"}}>
      <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
    </div>
    <div>Showing {{total}} Links</div>
  </div>
  <div {{bind-attr class=":panel-body showingRandomLink:showing:hidden"}}>
    Showing Random Link
    <p class="lead">{{randomLinkDescription}}</p>
    <p class="muted">{{randomLeadLink}}</p>
  </div>
  <div class="list-group">
  {{#each}}
    <a class="list-group-item" {{bind-attr href=link}}>
      <div class="small muted pull-right">{{tags}}</div>
      <h4 class="list-group-item-heading">{{description}}</h4>
      <p class="list-group-item-text">
        {{link}}
      </p>
    </a>
  {{/each}}
  </div>
</div>
{{outlet}}
