<div class="panel panel-default">
  <div class="panel-heading">Showing All Links</div>
  <div class="panel-body">
  </div>
  <div class="list-group">
  {{#each}}
    <a class="list-group-item" {{bind-attr href=link}}>
      <div class="small muted pull-right">{{tags}}</div>
      <h4 class="list-group-item-heading">{{description}}</h4>
      <p class="list-group-item-text">
        {{link}}
      </p>
    </a>
  {{/each}}
  </div>
</div>
{{outlet}}
