<div class="list-group">
  <div class="list-group-item">
    <div class="input-group">
      {{input value=search type="text" class="form-control" placeholder="search tags"}}
      <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
    </div>
  </div>
{{#each selectedTags}}
  <a {{bind-attr class=":list-group-item"}} href="#" {{action "addTag" on="click"}}><span class="label label-danger pull-right">—</span>{{name}}</a>
{{/each}}
{{#each filteredTags itemController="tag"}}
  <a {{bind-attr class=":list-group-item"}} href="#" {{action "addTag" on="click"}}><span class="badge">{{count}}</span>{{name}}</a>
{{/each}}
</div>
