<ul class="list-group">
  <li class="list-group-item">
    <div class="input-group">
      {{input value=search type="text" class="form-control" placeholder="search tags"}}
      <br/>
      {{search}}
      <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
    </div>
  </li>
  {{log this}}
{{#each}}
  <li {{bind-attr class=":list-group-item isShowing:showing:hidden"}}><span class="badge">{{count}}</span>{{name}}oo</li>
{{/each}}
</ul>
